$white: #fff;
$black: #3a3a3a;
$gray: #a9a9a9;
$primary: #FFC241;
$primary-light: #FFF8E8;
$secondary: #F1AF86;


// WHITE
$white-100: #f8f8f8;

//STATUS
$delivered: rgb(220, 247, 220);
$text-delivered: rgb(73, 150, 73);
$ready: rgb(212, 240, 251);
$text-ready: rgb(101, 204, 245);
$preparation: rgb(255, 255, 209);
$text-preparation: rgb(244, 227, 71);
$received: rgb(248, 235, 212);
$text-received: rgb(245, 174, 50);
$cancelled: rgb(250, 227, 227);
$text-cancelled: rgb(235, 52, 52);
