$white: #fff;
$black: #3a3a3a;
$gray: #a9a9a9;
$primary: #01152C;
$primary-light: #b4b7ba5a;
$secondary: #FB891F;


// WHITE
$white-100: #f8f8f8;
$white-opacity: #ffffffc9;

//GRAY
$gray-card: #b4b7ba2e;