@mixin screen($size) {
    @if $size == phone-only {
      @media (max-width: 575px) {
        @content;
      }
    }
  
    @else if $size == tablet-only {
      @media (max-width: 767px) {
        @content;
      }
    }
  
    @else if $size == tablet-up {
      @media (min-width: 768px) {
        @content;
      }
    }
  
    @else if $size == tablet-big-up {
      @media (min-width: 1024px) {
        @content;
      }
    }
  
    @else if $size == desktop-up {
      @media (min-width: 1200px) {
        @content;
      }
    }
  
    @else if $size == desktop-big-up {
      @media (min-width: 1800px) {
        @content;
      }
    }
}

@mixin component() {
  margin: 1rem 1rem 2.5rem 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 15px 15px 62px rgba(0, 0, 0, 0.07);
}