/*
 * --- Global
*/

// -- Radius
// Ex.: border-radius: $radius-none;
$radius-sm: 5px;     // 2px
$radius-normal: 10px;  // 4px
$radius-lg: 15px;       // 8px
$radius-round: 50%;     // rounded

/*
 * --- Fonts
*/
// -- Weight
// Ex.: font-weight: $font-thin;
$font-thin: 100;
$font-extralight: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extrabold: 800;
$font-black: 900;

// -- Size
// Ex.: font-size: $size-sm;
$size-xs: 0.75rem;        // 12px
$size-sm:	0.875rem;     // 14px
$size-base:	1rem;         // 16px
$size-lg:	1.125rem;     // 18px
$size-xl:	1.25rem;      // 20px
$size-2xl: 1.5rem;        // 24px
$size-3xl: 1.875rem;      // 30px
$size-4xl: 2.25rem;       // 36px
$size-5xl: 3rem;          // 48px
$size-6xl: 4rem;          // 64px